PORT="5000"
JWT_SECRET="my-jwt-secret"
DB_HOST="localhost"
DB_PORT="5432"
DB_USERNAME="username"
DB_PASSWORD="password"
DB_NAME="test"
HEALTHCHECK_HTTP_URL="https://docs.nestjs.com"
SWAGGER_EXAMPLE_PROFILE_IMAGE_URL="https://example.com/profile-images/default.png"
SWAGGER_EXAMPLE_EVENT_THUMBNAIL_URL="https://example.com/thumbnail.jpg"
SWAGGER_EXAMPLE_EVENT_LOGO_URL="https://swjungle.net/static/hub/images/kaist_jungle_logo.png"
SWAGGER_EXAMPLE_ORDER_THUMBNAIL_URL="https://image.jpg"
